@use "../../styles/colors" as colors;

.navbar {
  // background-color: #00008B;
  background-color: #32383f;

  a {
    font-weight: bold;
    // color: #eea47f;
    color: #ddd;
    cursor: pointer;
  }
  .dropdown-item.settings {
    color: #ccc;
  }
  .dropdown-item.logout {
    color: tomato;
  }
  .dropdown-item {
    border-radius: 10px;
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: rgba(204, 204, 204, 0.425);
  }

  .dropdown-menu.dropdown-menu-end.show {
    background-color: colors.$darkPirmary;
    box-shadow: 0 0 5px #333;
    border: #333 2px solid;
  }
}
