@use "../../../styles/colors" as colors;
.background {
  background-color: #ddc3a5;
  height: 100vh;
}

.card {
  .form-control {
    background-color: rgb(230, 230, 230);
  }
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &-header {
    border-radius: 10px 10px 0 0;
    background-color: #28a745;
    color: #fff;
  }

  &-body {
    padding: 2rem;

    label {
      font-weight: bold;
    }

    input {
      margin-bottom: 1rem;
      &:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
      }
    }

    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
      &:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }
    }
  }
}
