@use "../../styles/colors" as colors;

* {
  padding: 0;
  //   margin: 0;
  box-sizing: border-box;
}

.small-tile {
  width: 85px;
  margin: 1px;
  //   padding: 10px;
}

.card {
  background-color: colors.$darkPirmary;
  // background-color: #101820;
  color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #f0f0f023;
  box-shadow: colors.$selectedDate 0 0 3px;
}

.selected-tile {
  background-color: colors.$selectedDate; /* Kolor dla wybranego kafelka */
  box-shadow: colors.$selectedDate 0 0 3px;
}
