<a class="list-group-item py-1">
    <div class="row justify-content-md-center">
        <div class="col-md-2 offset-md-1 ">
            <img [src]="homeImg" alt="Home team image">
        </div>

        <div class="col-md-2">
            <p>{{homeName}}</p>
        </div>

        <div class="col-md-2">
            <p>{{homeGoals}}</p>
            <p>:</p>
            <p>{{awayGoals}}</p>
        </div>

        <div class="col-md-2">
            <p>{{awayName}}</p>
        </div>

        <div class="col-md-2">
            <img [src]="awayImg" alt="Away team image">
        </div>
    </div>
</a>