<a class="list-group-item py-3" (click)="onClick($event)">
    <div class="row justify-content-md-center">
        <div class="justify-content-md-center time-div">
            <p class="text-center time">{{dateOnly}} {{timeOnly}}</p>
        </div>
        <div class="col-md-2 offset-md-1  align-items-center">
            <i class="fa-regular fa-star home me-2" #home *ngIf="isLogged"></i>
            <img [lazyLoad]="homeImg" alt="Alternate text for image" />
        </div>

        <div class="col-md-2 align-items-center">
            <p>{{homeName}}</p>
        </div>

        <div class="col-md-2 align-items-center">
            <p class="me-1">{{homeGoals}}</p>
            <p>{{colon}}</p>
            <p class="ms-1">{{awayGoals}}</p>
        </div>

        <div class="col-md-2 align-items-center">
            <p>{{awayName}}</p>
        </div>

        <div class="col-md-2 align-items-center ">
            <img [lazyLoad]="awayImg" alt="Alternate text for image" />
            <i class="fa-regular fa-star ms-2 away" #away *ngIf="isLogged"></i>
        </div>
    </div>
</a>