// $primaryColor: rgb(160, 184, 32);
// $middleColor: rgb(81, 128, 54);
// $darkPirmary: rgb(31, 77, 40);
// $brightColor: rgb(80, 107, 53);
// $opositeColor: rgb(158, 41, 43);

// $primaryColor: #a7c957;
// $middleColor: #6a994e;
// $darkPirmary: #386641;
// $brightColor: #f2e8cf;
// $opositeColor: #bc4749;

$primaryColor: rgb(160, 184, 32);
$middleColor: rgb(81, 128, 54);
$darkPirmary: royalblue;
$brightColor: rgb(80, 107, 53);
$opositeColor: rgb(158, 41, 43);
$backgroundcolor: #ddc3a5;
