<div class="background">
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>

            <div class="col-md-9">
                <!-- Treść główna -->
            </div>
            <div class="col-md-3">
                <!-- Sidebar -->
                <!-- Tu możesz umieścić zawartość swojego komponentu sidebar -->
                <app-sidebar-item></app-sidebar-item>
            </div>
        </div>
    </div>
</div>